/* style_landing.css */

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    color: #333;
    background-image: url('images/fortes.jpg');
    background-size: cover;
    background-position: center;
}

header {
    background-color: white;
    color: #07438C;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
    border-bottom: 2px solid #07438C;
}
.logo {
    height: 50px;
    margin-right: 20px;
}

.navbar {
    display: flex;
    align-items: center;
}



.nav-links {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}

.nav-links li {
    margin-left: 20px;
}

.nav-links a {
    color: #07438C;
    text-decoration: none;
    font-size: 18px;
}

.header-title {
    font-size: 25px;
    font-weight: bold;
    text-align: center;
    flex-grow: 1;
    color: #07438C;
}

main {
    padding-top: 100px;
}

section {
    padding: 20px;
    margin: 20px 0;
    background: rgba(255, 255, 255, 0.9);
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#about img, .service-cards .card img {
    width: 100%;
    height: auto;
    border-radius: 10px;
}

#editais table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

#editais th, #editais td {
    border: 1px solid #ddd;
    padding: 8px;
}

#editais th {
    background-color: #07438C;
    color: white;
}

.service-cards {
    display: flex;
    gap: 20px;
    justify-content: space-around;
}

.card {
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    flex: 1;
}

.card h3 {
    color: #07438C;
}

#contact form {
    display: flex;
    flex-direction: column;
}

#contact label {
    margin: 10px 0 5px;
}

#contact input, #contact textarea {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

#contact button {
    margin-top: 10px;
    padding: 10px 20px;
    background-color: #00CB95;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

#contact button:hover {
    background-color: #007f7a;
}
